@page "/bus/details/{busId}"
@using CarLot.Models
@using CarLot.Data
@inject CarLot.Data.BusService busService
@inherits OwningComponentBase<BusService>
@inject IJSRuntime _jsRuntime
@implements IDisposable
@inject NavigationManager NavManager


<link href="./styles/Buses/BusDetailsStyling.css" rel="stylesheet" />
<img src="/images/lexus-ad.jpg" />

<div class="row">
    <div class="col">
        <a href="@($"buses")">
            <MatIcon Icon="keyboard_backspace"></MatIcon>
        </a>
    </div>



    <div class="col" id="busList">
        @foreach (var busList in listBuses.Take(2).ToList())
        {
            <div>
                <a @onclick="@(e => DetailsClick(e))" href="@($"/bus/details/{busList.BusId}")">
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(busList.Image)" />
                </a>
            </div>
        }
    </div>



    <div class="col-8">
        <img src="data:image/jpeg;base64,@Convert.ToBase64String(buses.Image)" />
        <div class="card-body">
            <div id="isNew">
                @if (buses.New == true)
                {
                    <p class="card-text">
                        NEW
                    </p>
                }
                else
                {
                    <p class="card-text">
                        USED
                    </p>
                }
            </div>
            <h1>@buses.Year @buses.Make @buses.DriveTrain</h1>
            <span>@buses.Mileage miles</span>
            <br />
            <span id="price">$@buses.Price</span>
            <br />
            @if (buses.HomeDelivery == true)
            {
                <span class="card-text">Home Delivery</span>
            }
            @if (buses.VirtualAppointments == true)
            {
                <span class="card-text">Virtual Appointments</span>
            }
            <br />
            <a href="#">Value Your Trade-In <MatIcon Icon="open_in_new"></MatIcon></a>
            <h5>Sold By @buses.ApplicationUser.FirstName @buses.ApplicationUser.LastName</h5>
            <MatIcon Icon="location_on"></MatIcon> <a href="#">@buses.ApplicationUser.City, @buses.ApplicationUser.State</a>  
            <h2>Vehicle History</h2>
            <a href="#">Get a CARFAX Report</a>
            <h2>Seller's Notes</h2>
            <div class="sellers-notes">
                <h4>Features Notes</h4>
                <p>@buses.Features</p>

                <h4>Sellers Notes</h4>
                <p>@buses.SellerNotes</p>

                <a href="#"><MatIcon Icon="open_in_new"></MatIcon> View this vehicle on dealer's website</a>
                <br />
                <a href="#"><MatIcon Icon="open_in_new"></MatIcon> Check for recalls</a>
                <h2>Basics</h2>
                <h5>Body Style</h5>
                <p>@buses.BodyStyle</p>            
                <div class="row">
                    <div class="col">
                        <ul>
                            <li>Fuel Type: @buses.Fuel</li>
                            <li>Mileage: @buses.Mileage</li>
                            <li>Drivetrain: @buses.DriveTrain</li>
                            <li>Transmission: @buses.Transmission</li>
                            <li>Door Count: @buses.DoorCount</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li>Exterior Color: @buses.ExteriorColor</li>
                            <li>Interior Color: @buses.InteriorColor</li>
                            <li>Cylinders: @buses.Cylinders</li>
                            <li>Make: @buses.Make</li>
                            <li>Year: @buses.Year</li>
                        </ul>
                    </div>
                    
                    <div class="row">                      
                        <div class="col">
                            <h2>Seller</h2>
                            <p>15315 @buses.ApplicationUser.City, @buses.ApplicationUser.State 12345</p>
                            <a href="#">Get Directions</a>
                            <br />
                            <a href="#">Dealer Details</a>
                            <br />
                            <a href="#">Dealer Website <MatIcon Icon="open_in_new"></MatIcon></a>
                        </div>
                        <div class="col">
                            <p id="interest">Interested in this car? Reach out.</p>
                            <span>@buses.ApplicationUser.Number</span>
                            <a href="#" class="btn btn-block">Check Availability</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="col-4">
        <div class="card">
            <h3 class="card-header">
                Contact Us
                <br />
                <span class="card-title">Call: @buses.ApplicationUser.Number</span>
            </h3>

            <div class="card-body">
                <form action="/" method="post">
                    <div class="row">
                        <div class="col" id="formPost">
                            <div class="form-group">
                                <input class="form-control" id="exampleFirstName" aria-describedby="" placeholder="First Name">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <input class="form-control" name="exampleLastName" value="" aria-describedby="" placeholder="Last Name" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <input class="form-control" name="exampleEmail" value="" aria-describedby="" placeholder="Email" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <input class="form-control" name="exampleOptional" value="" aria-describedby="" placeholder="Phone(Optional)" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <input class="form-control" name="exampleCheckAvailability" value="" aria-describedby="" placeholder="Check Availability" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <textarea class="form-control" name="exampleCheckComments" value="" aria-describedby=""
                                          placeholder="lorem ipsum, lorem ipsum, lorem ipsum
                                          lorem ipsum, lorem ipsum, lorem ipsum" />
                            </div>
                        </div>
                    </div>
                </form>
                <a href="#" class="btn btn-block">Check Availability</a>
                <p class="card-text">
                    By clicking here, you authorize Cars.com and
                    its sellers/partners to contact you by texts/calls
                    which may include marketing and be by autodialer. Calls
                    may be pre-recorded. You also agree to our Privacy Statement.
                    Consent is not required to purchase goods/services.
                </p>
                <p id="privacy" class="card-text">
                    We value your privacy. <a href="#">CarLot.com Privacy Statement.</a>
                </p>
            </div>
        </div>
    </div>
</div>












@code
{
    public Bus buses { get; set; } = new Bus();
    public List<Bus> listBuses { get; set; } = new List<Bus>();


    [Parameter]
    public string busId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        buses = await busService.GetBusByIdAsync(int.Parse(busId));
        listBuses = await busService.GetBusesAsync();
    }

    public async Task DetailsClick(MouseEventArgs e)
    {
        buses = await busService.GetBusByIdAsync(int.Parse(busId));
    }
}
