@page "/"


<div id="hero-row" class="row">
    <div class="col">
        <div id="next-match-hero">
            <img src="images/tesla-model-3.jpg" />
            <h1>Find Your <br /> Next Match</h1>
        </div>
        <div id="filter-col">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-bus-tab" data-toggle="tab" href="#nav-bus" role="tab" aria-controls="nav-bus" aria-selected="true">Buses</a>
                    <a class="nav-item nav-link" id="nav-car-tab" data-toggle="tab" href="#nav-car" role="tab" aria-controls="nav-car" aria-selected="false">Cars</a>
                    <a class="nav-item nav-link" id="nav-motorcycle-tab" data-toggle="tab" href="#nav-motorcycle" role="tab" aria-controls="nav-motorcycles" aria-selected="false">Motorcycles</a>
                    <a class="nav-item nav-link" id="nav-suv-tab" data-toggle="tab" href="#nav-suv" role="tab" aria-controls="nav-suv" aria-selected="false">SUVs</a>
                    <a class="nav-item nav-link" id="nav-truck-tab" data-toggle="tab" href="#nav-truck" role="tab" aria-controls="nav-truck" aria-selected="false">Trucks</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-bus" role="tabpanel" aria-labelledby="nav-bus-tab">
                    <EditForm Model="@DisplayBusesByMake">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <select @onchange="@ReturnBusesByMake" class="form-control">
                                        <option disabled>Select By Make</option>
                                        @foreach (var busMake in DisplayBusesByMake)
                                        {
                                            <option value="@busMake.Make">@busMake.Make</option>
                                        }

                                    </select>
                                    <a href="@($"buses/filter/{MakeOfBus}")" class="btn">Search</a>
                                </div>
                            </div>
                        </div>
                    </EditForm>
                </div>
                <div class="tab-pane fade" id="nav-car" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <EditForm Model="@DisplayCarsByMake">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <select @onchange="@ReturnCarsByMake" class="form-control">
                                        <option disabled>Select By Make</option>
                                        @foreach (var carMake in DisplayCarsByMake)
                                        {
                                            <option value="@carMake.Make">@carMake.Make</option>
                                        }

                                    </select>
                                    <a href="@($"cars/filter/{MakeOfCar}")" class="btn">Search</a>
                                </div>
                            </div>
                        </div>
                    </EditForm>
                </div>
                <div class="tab-pane fade" id="nav-motorcycle" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <EditForm Model="@DisplayMotorcyclesByMake">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <select @onchange="@ReturnMotorcyclesByMake" class="form-control">
                                        <option disabled>Select By Make</option>
                                        @foreach (var motorcycleMake in DisplayMotorcyclesByMake)
                                        {
                                            <option value="@motorcycleMake.Make">@motorcycleMake.Make</option>
                                        }

                                    </select>
                                    <a href="@($"motorcycles/filter/{MakeOfMotorcycle}")" class="btn">Search</a>
                                </div>
                            </div>
                        </div>
                    </EditForm>
                </div>
                <div class="tab-pane fade" id="nav-suv" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <EditForm Model="@DisplaySUVsByMake">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <select @onchange="@ReturnSUVsByMake" class="form-control">
                                        <option disabled>Select By Make</option>
                                        @foreach (var suvMake in DisplaySUVsByMake)
                                        {
                                            <option value="@suvMake.Make">@suvMake.Make</option>
                                        }

                                    </select>
                                    <a href="@($"suvs/filter/{MakeOfSUV}")" class="btn">Search</a>
                                </div>
                            </div>
                        </div>
                    </EditForm>
                </div>
                <div class="tab-pane fade" id="nav-truck" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <EditForm Model="@DisplayTrucksByMake">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <select @onchange="@ReturnTrucksByMake" class="form-control">
                                        <option disabled>Select By Make</option>
                                        @foreach (var truckMake in DisplayTrucksByMake)
                                        {
                                            <option value="@truckMake.Make">@truckMake.Make</option>
                                        }

                                    </select>
                                    <a href="@($"trucks/filter/{MakeOfTruck}")" class="btn">Search</a>
                                </div>
                            </div>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ad-1-row" class="row">
    <div class="col">
        <a href="https://www.erickandwolfi.com/eq-electric-intelligence-by-mercedesbenz">
            <img id="index-ad-1" src="/images/benz-car-ad.jpg" />
        </a>
    </div>
</div>

<div id="three-icon-row" class="row">
    <div class="col">
        <MatCard Class="">
            <MatIcon Icon="videocam"></MatIcon>
            <MatCardContent>
                <MatHeadline6>Watch Car Reviews & More</MatHeadline6>
                <MatBody2>
                    <a href="https://www.cars.com/videos/">
                        See the latest videos from our team of experts.
                    </a>
                </MatBody2>
            </MatCardContent>
        </MatCard>
    </div>
    <div class="col">
        <MatCard Class="">
            <MatIcon Icon="language"></MatIcon>
            <MatCardContent>
                <MatHeadline6>Cars.com News</MatHeadline6>
                <MatBody2>
                    <a href="https://www.cars.com/news/">
                        What you need to be informed from now until you buy,
                        all in one place.
                    </a>
                </MatBody2>
            </MatCardContent>
        </MatCard>
    </div>
    <div class="col">
        <MatCard Class="">
            <MatIcon Icon="favorite"></MatIcon>
            <MatCardContent>
                <MatHeadline6>Over One Million Reviews</MatHeadline6>
                <MatBody2>
                    <a href="https://www.cars.com/fivestarsalesperson/">
                        Choose a salesperson you like, meet a car you'll love.
                    </a>
                </MatBody2>
            </MatCardContent>
        </MatCard>
    </div>
</div>

<div id="hot-vehicles" class="row">
    <div class="col" id="icon-section">
        <MatIcon Icon="whatshot"></MatIcon>
        <h1>Introducing <br /> Hot Vehicles</h1>
        <h4>Check Out Our Latest <br /> Vehicles For Sale</h4>
        <img id="ad-img" src="/images/hot-vehicle-ad.jpg" />
    </div>
    <div class="col" id="latest-vehicles">
        <h2>Buses</h2>
        <div class="row card-deck">
            @foreach (var bus in FeaturedBuses)
            {
                <div class="card">
                    <a href="@($"bus/details/{bus.BusId}")">
                        <img class="card-img-top" src="data:image/jpeg;base64,@Convert.ToBase64String(bus.Image)" />
                        <div class="card-body">
                            <div>
                                <h5 class="card-title">$@bus.Price</h5>
                                <MatIcon Icon="fiber_manual_record"></MatIcon>
                                <h5 class="card-text">@bus.ApplicationUser.State</h5>
                            </div>
                            @if (bus.New == true)
                            {
                                <p class="card-text">
                                    New @bus.Year @bus.Make
                                </p>
                            }
                            else
                            {
                                <p class="card-text">
                                    Used @bus.Year @bus.Make
                                </p>
                            }
                        </div>
                    </a>
                </div>
            }
        </div>
        <h2>Cars</h2>
        <div class="row card-deck">
            @foreach (var car in FeaturedCars)
            {
                <div class="card">
                    <a href="@($"car/details/{car.CarId}")">
                        <img class="card-img-top" src="data:image/jpeg;base64,@Convert.ToBase64String(car.Image)" />
                        <div class="card-body">
                            <div>
                                <h5 class="card-title">$@car.Price</h5>
                                <MatIcon Icon="fiber_manual_record"></MatIcon>
                                <h5 class="card-text">@car.ApplicationUser.State</h5>
                            </div>
                            @if (car.New == true)
                            {
                                <p class="card-text">
                                    New @car.Year @car.Make
                                </p>
                            }
                            else
                            {
                                <p class="card-text">
                                    Used @car.Year @car.Make
                                </p>
                            }
                        </div>
                    </a>
                </div>
            }
        </div>
        <h2>Motorcycles</h2>
        <div class="row card-deck">
            @foreach (var motorcycle in FeaturedMotorcycles)
            {
                <div class="card">
                    <a href="@($"motorcycle/details/{motorcycle.MotorcycleId}")">
                        <img class="card-img-top" src="data:image/jpeg;base64,@Convert.ToBase64String(motorcycle.Image)" />
                        <div class="card-body">
                            <div>
                                <h5 class="card-title">$@motorcycle.Price</h5>
                                <MatIcon Icon="fiber_manual_record"></MatIcon>
                                <h5 class="card-text">@motorcycle.ApplicationUser.State</h5>
                            </div>
                            @if (motorcycle.New == true)
                            {
                                <p class="card-text">
                                    New @motorcycle.Year @motorcycle.Make
                                </p>
                            }
                            else
                            {
                                <p class="card-text">
                                    Used @motorcycle.Year @motorcycle.Make
                                </p>
                            }
                        </div>
                    </a>
                </div>
            }
        </div>
        <h2>SUVs</h2>
        <div class="row card-deck">
            @foreach (var suv in FeaturedSuvs)
            {
                <div class="card">
                    <a href="@($"suv/details/{suv.SUVId}")">
                        <img class="card-img-top" src="data:image/jpeg;base64,@Convert.ToBase64String(suv.Image)" />
                        <div class="card-body">
                            <div>
                                <h5 class="card-title">$@suv.Price</h5>
                                <MatIcon Icon="fiber_manual_record"></MatIcon>
                                <h5 class="card-text">@suv.ApplicationUser.State</h5>
                            </div>
                            @if (suv.New == true)
                            {
                                <p class="card-text">
                                    New @suv.Year @suv.Make
                                </p>
                            }
                            else
                            {
                                <p class="card-text">
                                    Used @suv.Year @suv.Make
                                </p>
                            }
                        </div>
                    </a>
                </div>
            }
        </div>
        <h2>Trucks</h2>
        <div class="row card-deck">
            @foreach (var truck in FeaturedTrucks)
            {
                <div class="card">
                    <a href="@($"truck/details/{truck.TruckId}")">
                        <img class="card-img-top" src="data:image/jpeg;base64,@Convert.ToBase64String(truck.Image)" />
                        <div class="card-body">
                            <div>
                                <h5 class="card-title">$@truck.Price</h5>
                                <MatIcon Icon="fiber_manual_record"></MatIcon>
                                <h5 class="card-text">@truck.ApplicationUser.State</h5>
                            </div>
                            @if (truck.New == true)
                            {
                                <p class="card-text">
                                    New @truck.Year @truck.Make
                                </p>
                            }
                            else
                            {
                                <p class="card-text">
                                    Used @truck.Year @truck.Make
                                </p>
                            }
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>   
</div>
